# Ignore SQLite database file
db.sqlite3

# Ignore Python bytecode files and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore migration files
*/migrations/

# Ignore environment variable file
.env

# Ignore VSCode settings
.vscode/

# Ignore virtual environment
aits_env/
