* {
  box-sizing: border-box;
}
/*body {
  background-image: url("/public/ss.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}*/
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adjust opacity (0.5 = 50%) */
  z-index: -1; /* Places it behind everything */
}
.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 70%;
  border: 1px solid #06c20f;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  /* margin-left: 25px; */
  /* border-radius: 9%; */
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

/* button {
  background: #4adf05 !important;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  height: 5vh;;
}
button:hover {
  background: #f30424;
} */

p1 {
  color: rgb(83, 182, 2);
  text-align: center;
}

.text {
  margin: 2px;
  padding: 5px;
}

span {
  color: rgb(0, 95, 236);
  cursor: pointer;
}
h1 {
  margin-bottom: 20px;
  color: #026b10;
  font-size: 19px;
}
h5 {
  color: #026b10;
  text-align: center;
}

h6 {
  color: #026b10;
  text-align: center;
  font-size: 14px;
}
.login-body {
  background-image: url("/public/ss.PNG");
  background-size: cover;
  opacity: 0.5;
  height: 100vh;
}
